//Overrides for Canvas
#footer {
  position: relative;
  background-color: inherit;
  border-top: none;
}




.icon-facebook {
  margin-right: 20px;
  color: white;
  font-size: 20px;
  background-color: #3B5998;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 8px;
  float: right;
  margin-top: -30px;
  @media (max-width: $width-sm) {
    margin-bottom: 20px;
    margin-top: 0px;
    float: none;
    //margin-left: auto;
    //margin-right: auto;
  }
  &:before {
    top: 5px;
    position: relative;
  }
}

.icon-gplus {
  margin-right: 20px;
  color: white;
  font-size: 20px;
  background-color: #d34836;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 8px;
  float: right;
  margin-top: -30px;
  @media (max-width: $width-sm) {
    margin-top: 0px;
    margin-bottom: 20px;
    float: none;
    //margin-left: auto;
    //margin-right: auto;
  }
  &:before {
    top: 5px;
    position: relative;
  }
}

.fa-yelp {
  margin-right: 20px;
  color: white;
  font-size: 25px;
  background-color: #c41200;
  width: 37px;
  height: 37px;
  text-align: center;
  border-radius: 8px;
  float: right;
  @media (max-width: $width-sm) {
    margin-bottom: 20px;
    float: none;
    //margin-left: auto;
    //margin-right: auto;
  }
  &:before {
    top: 5px;
    position: relative;
  }
}