/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

section {
  background-position: center center;
  background-size: cover;
}

#section-divider {
  height: 25px;
  background-color: #84bbb9;
}