//=================================
//           Globals
//=================================

@import "globals/_breakpoints.scss";


//=================================
//      Canvas Dependencies
//=================================

@import "dependencies/animate.scss";
@import "dependencies/bootstrap.scss";
@import "dependencies/swiper.scss";
@import "dependencies/font-icons.scss";
@import "dependencies/dark.scss";
@import "style.scss";
@import "dependencies/responsive.scss";


//=================================
//           Custom
//=================================

@import "globals/_colors.scss";
@import "globals/_fonts.scss";
@import "components/_accordian.scss";
@import "components/_location-card.scss";
@import "components/_phone-slab.scss";
@import "components/_specials.scss";
@import "components/_modalRequestForm.scss";
@import "components/_header.scss";
@import "components/_footer.scss";
@import "custom.scss";


.section-padding {
  padding: 60px 0px;
  @media (max-width: $width-md) {
    padding: 30px 0px;
  }
}

.btn {
  padding: 17px 15px;
  @media screen and (max-width: $width-lg) {
    padding: 12px 15px;
  }
  @media screen and (max-width: $width-md) {
    padding: 12px 15px;
  }
}

.margin-btm {
  margin-bottom: 30px;
}

.margin-btm-half {
  margin-bottom: 15px;
}

.margin-btm-2x {
  margin-bottom: 60px;
}

.margin-top {
  margin-top: 30px;
}

.margin-top-2x {
  margin-top: 60px;
}

.margin-top-3x {
  margin-top: 30%;
}

.padding-reg {
  padding: 30px;
}

.padding-vert {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-vert-2x {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-right {
  padding-right: 45px;
}

.padding-left {
  padding-left: 45px;
}

.line-height-small {
  line-height: 1.0;
}

#mobile-background {
  display: none;
  @media (max-width: $width-sm) {
    display: block;
    position: relative;
  }
}

#slider {

  @media (max-width: $width-sm) {
  display: none;
  }
}

//Hover action for carousel images
.img-container {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  &:hover:after {
    font-family: 'Bitter';
    content: "+";
    position: absolute;
    top: 35%;
    color: white;
    font-size: 60px;
    left: 45%;
    z-index: 11;
    @media screen and (max-width: $width-md) {
      top: 20%;
    }
    @media screen and (max-width: $width-sm) {
      top: 20%;
      font-size: 55px;
    }
  }
  &:hover:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.37);
  }
}


#primary-menu-trigger {
  font-size: 30px;
  pointer-events: auto;
}

#mobile-background h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  top: 45%;
}

.reviews-wrap {
  padding: 0px 40px;
}

.mobile-background-card {
  @media (max-width: $width-sm) {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }
}

.icon-arrow-down {
  color: white;
  border: 2px solid white;
  border-radius: 10000px;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

.tour-modal-item {
  display: none;
}

.form-error {
  color: #D56724;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  display: none;
}

.hidden-xxs {
  @media (max-width: 480px) {
    display: none;
  }
}


#google-map5 {
  height: 790px;
  @media (max-width: $width-md) {
    height: 300px;
  }
}

.floating-card {
  position: absolute !important;
  z-index: 10;
}

#section-location img {
  max-width: 290px;
  @media (max-width: $width-md) {
    max-width: 100%;
  }
}

.tile-bg {
  background-image: url("../assets/beige-bg-vlk.jpg");
  background-repeat: repeat;
  background-size: initial;
}

a[href="tel:*"] {
  cursor: pointer;
}

  body {
    padding-right: 0px !important
  }

  .modal-open {
    overflow-y: auto;
  }

@media (max-width: $width-xs) {
  #logo a {
    float: right;
  }
}

//Fix for insurance background on mobile
.mobile-insurance-fix {
  display: none;
  @media (max-width: $width-sm) {
    display: block;
  }
}

#section-insurance {
  padding-top: 50px;
  background-image: url('./../../assets/membership-row-vlk.jpg');
  @media (max-width: $width-sm) {
    padding-top: 0px;
    background-color: white;
    background-image: none;
    & .padding-vert-2x {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  & p {
    line-height: 1.2;
  }
}


.animated.infinite.bounce {
  position: absolute;
  bottom: 15px;
  left: 50%;
}


#section-location {
  background-image: url('./../assets/map.png');
  @media (max-width: $width-sm) {
    background-image: none;
    background-color: white;
    & .location-card {
      margin-top: 0px;
      margin-bottom: 0px;
      border: none;
    }
    & .mobile-map {
      height: 300px;
      background-position: center center;
    }
    //& .padding-vert-2x {
    //  padding-top: 0px;
    //  padding-bottom: 0px;
    //}
  }
}