
//=================================
//      Canvas Dependencies
//=================================

@import "dependencies/animate.scss";
@import "dependencies/bootstrap.scss";
@import "dependencies/swiper.scss";
@import "dependencies/font-icons.scss";
@import "dependencies/dark.scss";
@import "dependencies/responsive.scss";
@import "style.scss";


//=================================
//           Globals
//=================================

@import "globals/_breakpoints.scss";
@import "globals/_colors.scss";
@import "globals/_fonts.scss";


//=================================
//           Custom
//=================================

@import "components/_accordian.scss";
@import "components/_location-card.scss";
@import "components/_phone-slab.scss";
@import "components/_header.scss";
@import "custom.scss";


.section-padding {
  padding: 30px 0px;
}

.btn {
  padding: 10px 15px;
}

.margin-btm {
  margin-bottom: 30px;
}

.margin-btm-half {
  margin-bottom: 15px;
}

.margin-btm-2x {
  margin-bottom: 60px;
}

.padding-reg {
  padding: 30px;
}

.line-height-small {
  line-height: 0.9;
}