//Font Colors
//==============================
.font-dark-blue  {
  color: #18184A;
}
.font-lighter {
  color: #A69F9B;;
}
.font-red {
  color: #A0383F;
}
.font-green {
  color: #297b78;
}
.font-light-green {
  color: #44AAA6;;
}
.font-light-brown {
  color: #5d4e48;
}
.font-white {
  color: #FFF;
}
.font-shadowed {
  text-shadow: 2px 2px 5px #000;
}
.font-gold {
  color: #FFD700;
}

.font-yellow {
  color: #b78f48;
}

.font-purple {
  color: #5c5c5c;
}

.font-shadowed {
  text-shadow: 2px 2px 5px white;
}

.font-shadowed-dark {
  text-shadow: 0px 0px 7px #4A4A4A;
}

//Background Colors
//==============================

.bg-light {
  background-color: #F6F5F1;
}
.bg-light-2 {
  background-color: #d8d8d8;
}
.bg-medium {
  background-color: #A69F9B;
}
.bg-dark {
  background-color: #5D4E48;
}
.bg-green {
  background-color: #84bbb9;
}
.bg-btn-default {
  background-color: #4EA292;
}

.bg-paper-fibers {
  background-image: url('/images/paper-fibers-tile.jpg');
  background-size: auto;
}

//Feature Colors
//==============================

