/* ----------------------------------------------------------------
	Fonts

	Replace your Fonts as necessary
-----------------------------------------------------------------*/



body { font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
#logo,
#primary-menu ul li > a { font-family: 'Raleway', sans-serif; }

.font-raleway { font-family: 'Raleway', sans-serif !important; }

.font-bitter { font-family: 'Bitter', serif !important;  }

.font-weight-light {
	font-weight: lighter;
}

.font-weight-reg {
	font-weight: 400;
}

.font-weight-bold {
	font-weight: 700;
}



/* ----------------------------------------------------------------
	You can change your Font Specific Settings here
-----------------------------------------------------------------*/


body,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.0;
}

h1 {
	font-size: 64px;
	@media screen and (max-width: $width-lg) {
	}
	@media screen and (max-width: $width-md) {
	}
	@media screen and (max-width: $width-sm) {
	}
	@media screen and (max-width: $width-xs) {
	}
}

h3 {
	font-size: 36px;
	@media screen and (max-width: $width-lg) {
	}
	@media screen and (max-width: $width-md) {
	}
	@media screen and (max-width: $width-sm) {
	}
	@media screen and (max-width: $width-xs) {
	}
}

h4 {
	font-size: 20px;
	@media screen and (max-width: $width-lg) {
	}
	@media screen and (max-width: $width-md) {
	}
	@media screen and (max-width: $width-sm) {
	}
	@media screen and (max-width: $width-xs) {
	}
}

button.btn {
	font-size: 20px;
	@media screen and (max-width: $width-lg) {
	}
	@media screen and (max-width: $width-md) {
	}
	@media screen and (max-width: $width-sm) {
	}
	@media screen and (max-width: $width-xs) {
	}
}

#logo {
	font-size: 36px;
	line-height: 100%;
}

#primary-menu ul li > a {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: none;
}

.area-byline {
	font-size: 48px;
	margin: 150px 0px;
}
