/* ----------------------------------------------------------------
	Fonts

	Replace your Fonts as necessary
-----------------------------------------------------------------*/



body { font-family: 'Lato', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
#logo,
#primary-menu ul li > a { font-family: 'Raleway', sans-serif; }

.font-primary { font-family: 'Raleway', sans-serif !important; }

.font-secondary { font-family: 'Crete Round', serif !important; }


/* ----------------------------------------------------------------
	You can change your Font Specific Settings here
-----------------------------------------------------------------*/


body,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
}

#logo {
	font-size: 36px;
	line-height: 100%;
}

#primary-menu ul li > a {
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: none;
}

.area-byline {
	font-size: 48px;
	margin: 150px 0px;
}
